@media (max-width: 1448px) {
  .data-container-box {
    grid-template-columns: 85%;
    justify-content: center;
    row-gap: 2rem;
  }

  .data-container-box > h2 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
  }

  .title {
    display: none;
  }
}